<div class="container mt-5">
    <h1>{{pageTitle}}</h1>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Index</th>
                    <th scope="col">Name</th>
                    <th scope="col">Visit Time </th>
                    <!-- Add more columns as needed -->
                </tr>
            </thead>
            <tbody>
                {{#each accessHistory}}
                <tr>
                    <th scope="col">{{incValue @index}}</th>
                    <td scope="col">{{Name}}</td>
                    <td scope="col">{{VisitTime}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>

<script>
    // Connect to the WebSocket server
    const socket = io();

    // Listen for the 'dataUpdated' event
    socket.on('dataUpdated', (data) => {
        console.log('Data updated:', data);
        location.reload();
    });

</script>