<style>
    body {
        background-color: rgb(52,224,161);
    }
</style>
<div class="container mt-1" >
    <h1 class="">{{pageTitle}}</h1>
    <div class="table-responsive rounded-4" >
        <table class="table table-hover">
            <thead class="table-dark">
                <tr>
                    <th scope="col" style="color: rgb(52,224,161)">Index</th>
                    <th scope="col" style="color: rgb(52,224,161)">Name</th>
                    <th scope="col" style="color: rgb(52,224,161)">Visit Time </th>
                    <!-- Add more columns as needed -->
                </tr>
            </thead>
            <tbody>
                {{#each accessHistory}}
                <tr>
                    <th scope="col">{{incValue @index}}</th>
                    <td scope="col">{{Name}}</td>
                    <td scope="col">{{VisitTime}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
{{!-- 
<script>
    // Connect to the WebSocket server
    const socket = io();

    // Listen for the 'dataUpdated' event
    socket.on('dataUpdated', (data) => {
        console.log('Data updated:', data);
        location.reload();
    });

</script> --}}