<style>
.custom-btn {
    font-weight: 500;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.custom-btn-fade {
    padding: 6px 12px;
    border: none;
    border-radius: 6px;
    background-color: var(--primary-color-light);
    color: var(--primary-color);
    transition: all 0.2s ease-in-out;
}
.custom-btn-fade:hover {
    background-color: var(--primary-color);
    color: white;
}
.custom-btn svg {
    width: 16px;
    height: 16px;
    margin-right: 4px;
}

/*
    FILE NÀY SẼ STYLE NHỮNG THÀNH PHẦN CỦA TABLE 
    NHỮNG CÁI NHƯ HEADING, TD, THẺ TAG, NÚT CHI TIẾT ...
    
    XEM MẪU BÊN TRANG baocao CỦA SỞ
*/

table th {
    font-size: var(--text-base);
    color: var(--title-color);
    font-weight: 600;
    
}

table th select {
    border: solid 1px var(--border-color);
    border-radius: 6px;
    padding: 6px 10px;
    font-size: 15px;
    color: var(--text-color);
}

table td {
    font-size: var(--text-sm);
    color: var(--text-color);
    text-align: start;
}



/* ========== CÁC CÁI TAG TÌNH TRẠNG XỬ LÝ ========== */
.status-tag {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 6px 12px;
    border-radius: 40px;
}
.status-tag span {
    font-size: 14px;
    font-weight: 500;
    margin: 0;
    margin-left: 4px;
}
.status-tag-dangxuly {
    background-color: var(--dangxuly-color-subtle);
    color: var(--dangxuly-color);
}
.status-tag-daxuly {
    background-color: var(--daxuly-color-subtle);
    color: var(--daxuly-color);
}
.status-tag-tuchoi {
    background-color: var(--tuchoi-color-subtle);
    color: var(--tuchoi-color);
}



/* ========== Nút Chi tiết ========== */
table .table-detail-button,.delete-button,.ttqc-delete-button,.edit-button {
    color: var(--primary-color);
    background-color: transparent;
    border: none;
}

.baocao-container {
    width: 100%;
    height: 100%;
}

.baocao-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}
.baocao-header h1 {
    font-weight: 700;
    color: var(--title-color);
    margin-right: 16px;
    margin-bottom: 0;
}

.baocao-table-container {
    padding: 0 0.8rem;
}
thead th {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--title-color);
    text-align: start;
    padding: 0.8rem 0;

}
</style>

<div class="baocao-container">
    {{!-- Header--}}
    <div class="baocao-header">
        <h1 class="text-primary">{{pageTitle}}</h1>
    </div>
    {{!-- Table --}}
    <div class="baocao-table-container" >
        <form action="" id="editConfigForm" onsubmit="editConfig(event)">
            <div class="table-responsive rounded-4">
                <table class="table table-hover " >
                <thead class="table-primary ">
                    <tr>
                        <th scope="col" class="text-primary">Function</th>
                        <th scope="col" class="text-primary">Status</th>
                    </tr>
                </thead>
                <tbody>
                        <tr>
                            <td scope="col">
                                Auto Door Close
                            </td>
                            <td scope="col">
                                <div class="form-check form-switch d-flex " style="width: 6rem; height: 1em;" >
                                    <input class="form-check-input w-100 h-75" type="checkbox" role="switch" id="autoClose" name="autoClose" {{#if (isTrue userData.AutoClose)}}checked{{/if}}>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td scope="col">
                                Auto Door Open
                            </td>
                            <td scope="col">
                                <div class="form-check form-switch d-flex " style="width: 6rem; height: 1em;" >
                                    <input class="form-check-input w-100 h-75" type="checkbox" role="switch" id="autoOpen" name="autoOpen" {{#if (isTrue userData.AutoOpen)}}checked{{/if}}>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td scope="col">
                                Camera 
                            </td>
                            <td scope="col">
                                <div class="form-check form-switch d-flex " style="width: 6rem; height: 1em;" >
                                    <input class="form-check-input w-100 h-75" type="checkbox" role="switch" id="cameraStatus" name="camera" {{#if (isTrue userData.Camera)}}checked{{/if}}>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td scope="col">
                                Detect Distances Range 
                            </td>
                            <td scope="col">
                                <div class="d-flex " style="width: 6rem; height: 1.7em;" >
                                <input class="form-control w-100 h-100" type="text" id="checkingDistance" name="checkingDistance" value="{{userData.CheckingDistance}}">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td scope="col">
                                Door Closing Time
                            </td>
                            <td scope="col">
                                <div class="d-flex " style="width: 6rem; height: 1.7em;" >
                                <input class="form-control w-100 h-100" type="text" id="doorClosingTime" name="closingTime"  value="{{userData.DoorCloseTime}}">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td scope="col">
                                Face Recognition 
                            </td>
                            <td scope="col">
                                <div class="form-check form-switch d-flex " style="width: 6rem; height: 1em;" >
                                    <input class="form-check-input w-100 h-75" type="checkbox" role="switch" id="faceRegconition" name="faceRegconition" {{#if (isTrue userData.FaceRecognition)}}checked{{/if}}>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td scope="col">
                                Gesture Control
                            </td>
                            <td scope="col">
                                <div class="form-check form-switch d-flex " style="width: 6rem; height: 1em;" >
                                    <input class="form-check-input w-100 h-75" type="checkbox" role="switch" id="gestureControl" name="gestureControl" {{#if (isTrue userData.GestureControl)}}checked{{/if}}>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td scope="col">
                                Smart Door System
                            </td>
                            <td scope="col">
                                <div class="form-check form-switch d-flex " style="width: 6rem; height: 1em;" >
                                    <input class="form-check-input w-100 h-75" type="checkbox" role="switch" id="smartDoorSystem" name="smartDoorSystem" {{#if (isTrue userData.SmartDoorSystem)}}checked{{/if}}>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td scope="col">
                                Stranger Detection
                            </td>
                            <td scope="col">
                                <div class="form-check form-switch d-flex " style="width: 6rem; height: 1em;" >
                                    <input class="form-check-input w-100 h-75" type="checkbox" role="switch" id="strangerDetect" name="strangerDetect"{{#if (isTrue userData.StrangerDetection)}}checked{{/if}}>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td scope="col">
                                Strange Warning Time 
                            </td>
                            <td scope="col">
                                <div class="d-flex " style="width: 6rem; height: 1.7em;" >
                                <input class="form-control w-100 h-100" type="text" id="strangerWarningTime" name="strangerWarningTime" value="{{userData.StrangerWarningTime}}">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td scope="col">
                                Visitor Tracking
                            </td>
                            <td scope="col">
                                <div class="form-check form-switch d-flex " style="width: 6rem; height: 1em;" >
                                    <input class="form-check-input w-100 h-75" type="checkbox" role="switch" id="visitorTracking" name="visitorTracking"{{#if (isTrue userData.VisitorsTracking)}}checked{{/if}}>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td scope="col">
                                Warning Notification
                            </td>
                            <td scope="col">
                                <div class="form-check form-switch d-flex " style="width: 6rem; height: 1em;" >
                                    <input class="form-check-input w-100 h-75" type="checkbox" role="switch" id="warningNotification" name="warningNotification"{{#if (isTrue userData.WarningNotification)}}checked{{/if}}>
                                </div>
                            </td>
                        </tr>
                </tbody>
            </table>

            
            </div>
            <div class="d-flex justify-content-end">
                <button class="btn btn-primary" id="saveConfig" type="submit">Save</button>
            </div>
        </form>
    </div>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>

<script>
    // Connect to the WebSocket server
    const socket = io();

    // Listen for the 'dataUpdated' event
    socket.on('dataUpdated', (data) => {
        console.log('Data updated:', data);
        location.reload();
    });

</script>

<script>
    async function editConfig(e) {
        e.preventDefault()

        const formData = new FormData(document.getElementById("editConfigForm"))
        const data = Object.fromEntries(formData.entries())

        console.log(data);
        let res = await fetch('/home/config', {
            method: 'PUT',
            headers: {
                "Content-Type": "application/json",
            },
            body: JSON.stringify(data)
        })

        location.reload();
    }
</script>