
<div class="container my-4">
    <div class="container d-flex flex-row my-3">
        <img src="/img/logo.svg" alt="logo" class="pt-1">
        <span class="text-dark mx-1" style="font-weight: 500; font-size: 2.3em;">Smart Door</span>
    </div>
    <div class="container d-flex flex-column mb-2">
        <span class="fs-2 text-dark fw-medium">SIGN UP</span>
        <form action="/register" method="post" class="w-100 px-1">
            <div class="my-2">
                <input type="email" id="email" name="email" placeholder="Account" 
                    class="form-control"  
                        style="line-height: 2em; background-color: lightgray; font-weight: 500;" required><br>
            </div>
            
            <div class="my-2">
            <input type="password" id="password" name="password" placeholder="Password"   
                    class="form-control"  
                        style="line-height: 2em; background-color: lightgray; font-weight: 500;" required><br>
            </div>

            <button type="submit" class="w-100 border border-0 rounded-3" style="line-height: 3em; background-color: rgb(52,224,161); font-weight: 500;">REGISTER</button>
        </form>
    </div>
</div>

