

<div class="container mt-5">
        <h1>{{pageTitle}}</h1>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">PIR</th>
                        <th scope="col">Ultrasonic</th>
                        <!-- Add more columns as needed -->
                    </tr>
                </thead>
                <tbody>
                    
                        <tr>
                            <td scope="col">
                                {{#if (isTrue sensorData.PIR)}} 
                                    Có Chuyển Động
                                    {{else}}
                                    Không Có Chuyển Động
                                {{/if}}
                                
                            </td>
                            <td scope="col">{{sensorData.Ultrasonic}} cm</td>
                        </tr>
                    
                </tbody>
            </table>
        </div>
</div>


<script>
    document.addEventListener("DOMContentLoaded", () => {
        setInterval(() => {
            location.reload();
        }, 3000);
    });
</script>